/*------------ @font-face ------------------*/
@font-face{
font-family:'TChevin';
src: url('../fonts/Chevin-Medium.otf')   format('opentype');
}
@font-face{
font-family:'TChevinLight';
src: url('../fonts/Chevin-Light.otf')   format('opentype');
}
@font-face{
font-family:'TChevinThin';
src: url('../fonts/Chevin-Thin.otf')   format('opentype');
}
table {
	border-collapse: separate;
	border-radius: 2px;
	border-spacing: .15em;
	border: solid #CAE0B1 1px;
}
.dayofweek {
	background-color: #CAE0B1;
	border-radius: 2px;
	border-spacing: 0;
	border: solid #ccc 1px;
	color: #165B91;
	font-size: 8pt;
	height: 2em;
	text-align: center;
}
.eDiaActual {
	background-color: #CAE0B1;
	border-radius: 20%;
	border: solid #3393DF 1px;
	color: #165B91;
	display: block;
	font-size: .9em;
	height: 20px;
	width: 25px;
}
.eDiaActual:hover {
	background-color:#165B91;
	border-color:#3393DF;
	color: #CAE0B1;
}
.eDiaObligatorio {
	background-color: #CBECB8;
	border-radius: 3px;
	border: solid #71BF44 1px;
	color: #71BF44;
	font-size: 8pt;
	height: 20px;
	text-align: center;
	width: 25px;
}
.eDiaCuenta  {
	background-color: #F09EB8;
	border-radius: 3px;
	border: solid #C73463 1px;
	color: #C73463;
	font-size: 8pt;
	height: 20px;
	width: 25px;
}
.eDiaMedio {
	background-color: #F1D76E;
	border-radius: 3px;
	border: solid #947D22 1px;
	color: #947D22;
	font-size: 8pt; 
	height: 20px;
	text-align:center;
	width: 25px;
}	
.eDiaFinSemana {
	background-color:#F1F1E9;
	border: solid #CCC 1px;
	color: #71BF44;
	font-size: 8pt; 
	height: 20px;
	text-align:center;
	width: 25px;
}
.eDiaLaboral {
	background-color:#F1F1E9;
	border: solid #CCC 1px;
	color: #58595B;
	font-size: 8pt; 
	height: 20px;
	text-align:center;
	width: 25px;
}
.diciembre,
.enero,
.febrero {
	background: #B7E3FF;
	border: solid #052E49 1px;
	color: #052E49;
}
.marzo,
.abril,
.mayo {
	background: #C3ABD1;
	border: solid #27043C 1px;
	color: #27043C;
}
.junio,
.julio,
.agosto {
	background: #F1CE99;
	border: solid #6F470B 1px;
	color: #6F470B;
}
.septiembre,
.octubre,
.noviembre {
	background: #E6C2B0;
	border: solid #491C06 1px;
	color: #491C06;
}
a{
	text-decoration:none;	
	cursor: default;
}
a:hover{
	cursor: default;
}
a:active{
	text-decoration:underline;
	/*background-color:#CAE0E7;	*/
	color:#CCCCCC;
}